#imagel {
    width: 40%;
    height:auto;
}

#imageo {
    width: 40%;
    height:auto;
}

#imagedm {
    width: 40%;
    height:auto;
}

body {
    background-image: url("assets/images/sw_background.jpg"); 
}