h1 {
    text-align: center;
    color: chartreuse;
}

h2 {
    color: wheat;
}

h3 {
    color: wheat;
}

#imagel {
    width: 20%;
    height:auto;
}

#imageo {
    width: 20%;
    height:auto;
}

#imagedm {
    width: 20%;
    height:auto;
}

#imagedv {
    width: 20%;
    height: auto;
}

body {
    background-image: url('assets/images/star_wars_jedi.jpeg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 55%;
    background-color: rgb(9, 8, 14);
    
}

#darthM {
    color: wheat;
}

#darthV {
    color: wheat;
}

#luke {
    color: wheat;
}

#obi {
    color: wheat;
}

.youAttacked {
    color: wheat;
}

.attackedBack {
    color: wheat;
}

.youDefeated {
    color: wheat;
}

.youWon {
    color: wheat;
}

.youLose {
    color: wheat;
}

.noEnemy {
    color: wheat;
}